html,
body{
  box-sizing: border-box;
  margin: 10px;
  padding:0;
  margin-bottom:0;
}
h1{
  font-size: 45px;
  font-weight:bold;
  padding-left:50px;
}

.skills{
  padding-top:80px;
}

.proyectos{
  padding-top:0;
}

p{ 
  position: relative;
  left:100px;
  margin:0;
  padding:0;
  width: 100%;
  font-size: 18px;
}

.elements-proyectos{
  position:relative;
  font-size: 18px;
  font-weight:none;
  top: 20px;
  display: grid;
  align-items: center;
  grid-template-rows: 1fr auto minmax() 1fr;
  margin: 30px;
  padding-left:25px;
  padding-bottom: 0;
  margin-bottom: 0;
  height: calc(30% - 25px);
  background-color: #f1ffbf;
  border-radius: 0.5rem;
  box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.8), inset 5px 5px 10px
      rgba(0, 0, 0, 0.1);
  transition: 0.8s ease-out;
}

.elements-skills{
  background-color: #9cb7f1;
  position:relative;
  display:inline-grid;
  margin:75px;
  text-align:center;
  align-content:center;
  transform:scale(1.5);
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}

.dom{
  position:absolute;
  opacity:0;
  font-size:25px;
  left:20px;
  top:1px;
  transition: 0.2s ease-out;
}

.skill{
  opacity: 1;
  transition: 0.2s ease-out;
}

.skill:hover{
  opacity: 0;
}

.skill:hover ~ .dom{
  opacity: 1;
}

h4{
  position: absolute;
  top: -30px;
  left: -25px;
}

.elim{
  left:97.5%
}

img{
  position:absolute;
  display:flex;
  max-height: 100%;
  top:0;
  right:25px;
}

.proy_check{
  display:none
}

.editarform{
  position:absolute;
  left: 40%;
  font-size: 20px;
  font-weight:bold;
  margin-top:45px;
  padding:0;
  display:grid;
}

.description{
  position:absolute;
  max-height: 100%;
  min-height: 10px;
  left:400px;
  top:0px;
  width:50%;
  min-width: 150px;
}

#editform_proy {
  left:20%
}

.editarform input, .editarform select{
  position:relative;
  left: 75%;
  height:25px;
  top: -25px;
  padding:0px;
  font-size: 20px;
  font-weight:bold;
}

.form_proy{
  position:absolute;
  left:500px;
  top:-15px
}

.form_proy textarea{
  height:100px;
}

.form_create_proy{
  left:200px;
  position: absolute;
}

.editarform button{
  position: relative;
  left: 500px;
  top: -175px;
  width: 60px;
  color: black;
  background-color:white;
}

#editform_proy button{
  left: 700px;
  top:-150px;
}

#editform_skl{
  position:absolute;
  left: -35px;
  height:25px;
  padding:0px;
  font-size: 10px;
  top:-50px;
  font-weight:bold;
}

#editform_skl input{
  left:50px;
  top:-20px;
  font-size: 10px;
  width:50px;
}

#editform_skl button{
  left: 110px;
  top:-85px;
  width:55px;
}

.editarform button:hover{
  background-color:#9ce5f1;
  font-weight:bold;
  cursor: pointer
}

.skl_elm_check_label, .skl_check_label{
  position:absolute;
  top:-25px;
  left:75%;
  z-index: 1200;
  transform:scale(0.75);
  width: 1rem;
  border-radius: 50%;
  cursor:pointer
}

.skl_elm_check_label{
  top:50px;
}

.modif ,.elim, .create{
  position:absolute;
  top:25px;
  left:95%;
  z-index: 1200;
  transform:scale(1.5);
  width: 1.5rem;
  border-radius: 50%;
  cursor:pointer
}

.elim{
  left:97.5%
}

.create_skll{
  position:absolute;
  background-color:lightgreen;
  top: 125px;
  left:200px;
  z-index: 1200;
  transform:scale(1.5);
  width: 1.5rem;
  border-radius: 50%;
  cursor:pointer
}

.create_pry{
  position:absolute;
  background-color:lightgreen;
  top: 505px;
  left:300px;
  z-index: 1200;
  transform:scale(1.5);
  width: 1.5rem;
  border-radius: 50%;
  cursor:pointer
}

#create_skill{
  display:none
}

#create_proy{
  display:none
}

.info_proy{
  opacity:1;
  transition: 250ms ease-in-out;
}

.ocultar{
  opacity:0;
  height: 300px;
  transition: 250ms ease-in-out;
}

.ocultar_skl{
  opacity:0;
  transition: 250ms ease-in-out;
  width:100px;
}

.ocultar_proy{
  opacity:0;
  transition: 250ms ease-in-out;
  width:100px;
}


.crearform_skil{
  display: none;
  position: relative;
  left: 50%;
  height: 25px;
  width: 50px;
  top: -100px;
  padding: 1px;
  font-size: 10px;
  font-weight: bold;
  opacity:0;
  transition: 350ms ease-in-out;
}

.crearform_proy{
  display: none;
  position: relative;
  left: 50%;
  height: 25px;
  width: 50px;
  top: -150px;
  padding: 1px;
  font-size: 10px;
  font-weight: bold;
  opacity:0;
  transition: 350ms ease-in-out;
}

.crearform_proy input{
  height:20px
}

.crearform_proy button{
  width:75px;
  left:400px;
  position: relative;
  top:-100px;
}

#create_skill:checked ~ .crearform_skil{
  display:grid;
  opacity:1;
  transition: 250ms ease-in-out;
}

#create_proy:checked ~ .crearform_proy{
  display:grid;
  opacity:1;
  transition: 250ms ease-in-out;
}
@media screen and (max-width: 1000px) {
  img{
    display:none;
    }
  .description{
    display:none;
  }
}